# API Keys Utama (Wajib diisi atau sistem AI akan gagal)
GEMINI_API_KEY=isi_dengan_api_key_gemini_anda
GROQ_API_KEY=isi_dengan_api_key_groq_anda

# Ollama (Local LLM Fallback)
OLLAMA_BASE_URL=http://agroadvisor-ollama:11434
OLLAMA_MODEL=qwen2.5:7b

# Konfigurasi Database Docker
DB_HOST=agroadvisor-db
DB_PORT=3306
DB_NAME=agroadvisor
DB_USER=root
DB_PASSWORD=password123

# Fastapi Host
APP_HOST=0.0.0.0
APP_PORT=8001
APP_DEBUG=True
FRONTEND_URL=http://rajang.inesa.id
USE_DUMMY_AI=false

# Admin Dashboard Credentials
ADMIN_USERNAME=AGROADVISOR
ADMIN_PASSWORD=INESARAJANG2026
ADMIN_TOKEN=agris_super_secret_token_2026

# OpenWeatherMap API
OPENWEATHER_API_KEY=isi_dengan_api_key_openweather_anda
OPENWEATHER_LAT=-6.2
OPENWEATHER_LON=106.8