GEMINI_API_KEY=AIzaSyB...

DB_HOST=localhost
DB_PORT=3306
DB_NAME=agroadvisor
DB_USER=root
DB_PASSWORD=YOUR PASSWORD 

APP_HOST=0.0.0.0
APP_PORT=8001
APP_DEBUG=True

# Admin Dashboard Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ganti_password_ini
ADMIN_TOKEN=ganti_token_rahasia_ini